@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.header__form-modal {
  min-width: 997px;
  width: 997px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 1000;
  background-image: url("../../image/backgrounds/form-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: $radius-l;
  padding: calc($spacing-xxxl * 2.5) 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-xxl;
  align-items: center;
  text-align: center;

  p {
    max-width: 410px;
  }

  h2,
  h6,
  p,
  button,
  label {
    color: $text-inverse;
  }

  .header__modal-close {
    position: absolute;
    width: $spacing-xl;
    top: $spacing-xl;
    right: $spacing-xl;
    cursor: pointer;
  }
}
.header__form--content {
  min-width: 500px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}
.header__form--request {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxxs;
}
.header__request--field {
  background-color: $background;
  padding: $spacing-md $spacing-lg;
  width: 100%;
  height: calc($spacing-xxl * 2);
  border-radius: $spacing-xs;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__request--input {
  width: 100%;
  height: 100%;

  &::placeholder {
    font-size: $text-md;
  }
}
.header__request--submit {
  background-color: $primary;

  span::before {
    content: url("../../image/dot-black.svg");
    width: 9px;
    position: relative;
    left: -($spacing-xs);
  }
}
.header__form--pd-text {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxxs;

  h6,
  p {
    max-width: 100%;
    text-align: left;
    font-size: $text-xs;
  }
}
.header__form--pd-agree {
  display: flex;
  align-items: flex-start;
  gap: $spacing-xs;
  text-align: left;

  label {
    font-size: $text-xs;
  }
}

.header__modal-active {
  visibility: visible;
  opacity: 1;
}