@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.speakers__popup-card {
  background-color: $background;
  border-radius: $radius-m;
  padding: $spacing-xl $spacing-sm;
  min-width: 632px;
  width: 632px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;

  .popup__header {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    gap: $spacing-sm;
    align-items: center;

    &-avatar {
      width: calc(($spacing-lg + $spacing-xxxxs) * 2);
      aspect-ratio: 1 / 1;
      border-radius: $spacing-xl;
    }

    .slider-card__close-popup {
      grid-column: 4;
      align-self: flex-start;
      cursor: pointer;
    }
  }
  .popup__content {
    margin-top: $spacing-md;
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    ul {
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;
      padding-left: $spacing-md;

      li {
        list-style-type: disc;
        list-style-position: outside;
        font-weight: 200;

        &::marker {
          color: $primary;
        }
      }
    }
  }
}

.popup-active {
  visibility: visible;
  opacity: 1;
}
