@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.footer {
  background-color: $surface;
  padding: 0 calc($spacing-xs + $spacing-xxxxs) $spacing-md
    calc($spacing-xs + $spacing-xxxxs);

  .container {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }
  .footer-contact {
    display: grid;
    align-items: center;
    gap: $spacing-xxl;
    grid-template-columns: auto auto 1fr auto auto;
  }
  .footer-logo {
    grid-column: 1;

    img {
      height: calc($spacing-xxl * 2);
    }
  }
  .footer-confid {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc($spacing-xxxxs * 1.5);

    a {
      font-size: $text-sm;
    }
  }

  .footer-phone {
    grid-column: 4;
  }

  .footer-email {
    grid-column: 5;
  }

  .footer-phone,
  .footer-email {
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: calc($spacing-xxxxs * 1.5);

    p {
      font-weight: 700;
      font-size: $text-lg;
    }

    a {
      font-size: $heading-4;
      color: $primary;
    }
  }
  .footer-info {
    border-top: solid 1px $text-low;
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: $text-xxs;
  }
  .footer-info__block {
    color: $text-low;

    &.middle {
      display: flex;
      gap: $spacing-xxl;
    }
    &.last {
      justify-self: flex-end;
    }
  }
}
