@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// ===== LARGE TABLET
@media (max-width: 1024px) {
  // ===== Header
  .header {
    &__nav ul {
      gap: $spacing-md;
    }

    &__contact {
      & button {
        padding: $spacing-xxs calc($spacing-xxxs + $spacing-xxl);
      }
    }
  }
  // ===== Hero
  .hero {
    padding-top: $spacing-xl;

    & .container {
      border-radius: $radius-m;

      &:before {
        border-radius: $radius-m;
        background: linear-gradient(to right, $primary 65%, transparent);
      }
    }

    &__text {
      gap: $spacing-md;
      padding: calc($spacing-xxxl * 2 + $spacing-md) $spacing-xxl;
      max-width: 568px;

      h1 {
        font-size: $heading-2;
      }

      p {
        font-size: $text-lg;
      }
    }
  }
  // ===== Advantages
  .advantages {
    padding-top: calc($spacing-xxxl + $spacing-xxl);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      .banner {
        gap: $spacing-md;
        border-radius: $radius-m;
        padding: calc($spacing-xxxl + $spacing-xs) calc($spacing-xxs * 2);

        h3 {
          font-size: $heading-6;
          max-width: 100%;
        }

        &__content {
          .block {
            width: calc((100% - ($spacing-xs * 2)) / 3);
            border-radius: $radius-xs;
            padding: $spacing-xl $spacing-sm;
            gap: $spacing-xxl;
          }

          .block__text {
            h5 {
              font-size: $heading-6;
            }

            p {
              font-size: $text-lg;
            }
          }
        }
      }
    }
  }
  // ===== Speakers
  .speakers {
    padding: calc($spacing-xxxl + $spacing-xxl)
      calc($spacing-xs + $spacing-xxxxs);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      .speakers__subtitle {

        p {
          font-size: $text-lg;
        }
      }

      .slider {
        &-card {
          &__content {
            h5 {
              font-size: $heading-6;
            }
          }
        }
      }
    }
  }
}
// ===== TABLET
@media (max-width: 768px) {
  // ===== Header
  .header {
    &__nav {
      display: none;
    }

    &__contact {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
  // ===== Speakers
  .speakers {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;

      .speakers__subtitle {
        p {
          max-width: 100%;
        }
      }

      .speakers__button {
        grid-column: 1;
        grid-row: 4;
      }

      .slider {
        grid-column: 1;
      }
    }
  }
}
// ===== SMALL TABLET
@media (max-width: 665px) {
  // ===== Header
  .header {
  }
  // ===== Hero
  .hero {
    &__text {
      gap: $spacing-xl;
      padding: $spacing-xxl $spacing-md;

      h1 {
        font-size: $heading-3;
      }

      p {
        font-size: $text-sm;
        max-width: 300px;
      }
    }
  }
  // ===== Advantages
  .advantages {
    padding-top: calc($spacing-xxxl + $spacing-xxl);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      .banner {
        gap: $spacing-md;
        border-radius: $radius-m;
        padding: $spacing-xxxl $spacing-xl;

        h3 {
          font-size: $heading-6;
          max-width: 100%;
        }

        &__content {
          flex-direction: column;
          gap: $spacing-xxxs;

          .block {
            width: 100%;
            border-radius: $radius-xs;
            padding: $spacing-xl $spacing-sm;
            gap: $spacing-xl;
          }

          .block__text {
            max-width: 90%;

            h5 {
              font-size: $heading-6;
            }

            p {
              font-size: $text-md;
            }
          }
        }
      }

      .btn {
        padding: $spacing-md calc($spacing-xxl * 3);
      }
    }
  }
  // ===== btn
  .btn {
    font-size: $text-md;
  }
}
// ===== MOBILE
@media (max-width: 430px) {
  // ===== Header
  .header {

    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      width: 74px;
    }
  }
  // ===== Hero
  .hero {
    padding-top: $spacing-xl;

    & .container {
      background-size: 135% auto;
      background-position: bottom right;

      &:before {
        width: 100%;
        height: 60%;
        background: linear-gradient(to bottom, $primary 65%, transparent);
      }
    }

    &__text {
      max-width: 100%;
      padding-bottom: calc($spacing-xxxl * 9 + $spacing-xxxs);

      p {
        max-width: 100%;
      }
    }
  }
  // ===== Speakers
  .speakers {
    padding: calc($spacing-xxl * 2) calc($spacing-xs + $spacing-xxxxs);

    .container {

      h2 {
        max-width: 296px;
      }

      .speakers__subtitle {

        p {
          font-size: $text-md;
        }
      }

      .speakers__button {
        gap: $spacing-xxxs;
        height: 16px;

        &-prev, &-next {
          border-radius: $radius-xs;
          padding: $spacing-xxs $spacing-md;

          img {
            width: 31px;
          }
        }
      }

      .slider {

        &-card {

          &__review {

            p {
              font-size: $text-xxs;
            }
          }

          &__rate {
            width: 118px;
          }

          &__text {

            p {
              font-size: $text-sm;
            }
          }
        }
      }
    }
  }
}
