@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// ===== LARGE TABLET
@media (max-width: 1024px) {
  input {
    font-size: $text-lg;
  }
  // ===== Header
  .header {
    &__nav ul {
      gap: $spacing-md;
    }

    &__contact {
      & button {
        padding: $spacing-xxs calc($spacing-xxxs + $spacing-xxl);
      }
    }
  }
  // ===== Hero
  .hero {
    padding-top: $spacing-xl;

    & .container {
      border-radius: $radius-m;

      &:before {
        border-radius: $radius-m;
        background: linear-gradient(to right, $primary 65%, transparent);
      }
    }

    &__text {
      gap: $spacing-md;
      padding: calc($spacing-xxxl * 2 + $spacing-md) $spacing-xxl;
      max-width: 568px;

      h1 {
        font-size: $heading-2;
      }

      p {
        font-size: $text-lg;
      }
    }
  }
  // ===== Advantages
  .advantages {
    padding-top: calc($spacing-xxxl + $spacing-xxl);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      .banner {
        gap: $spacing-md;
        border-radius: $radius-m;
        padding: calc($spacing-xxxl + $spacing-xs) calc($spacing-xxs * 2);

        h3 {
          font-size: $heading-6;
          max-width: 100%;
        }

        &__content {
          .block {
            width: calc((100% - ($spacing-xs * 2)) / 3);
            border-radius: $radius-xs;
            padding: $spacing-xl $spacing-sm;
            gap: $spacing-xxl;
          }

          .block__text {
            h5 {
              font-size: $heading-6;
            }

            p {
              font-size: $text-lg;
            }
          }
        }
      }
    }
  }
  // ===== Speakers
  .speakers {
    padding: calc($spacing-xxxl + $spacing-xxl)
      calc($spacing-xs + $spacing-xxxxs);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      .speakers__subtitle {
        p {
          font-size: $text-lg;
        }
      }

      .slider {
        &-card {
          &__content {
            h5 {
              font-size: $heading-6;
            }
          }
        }
      }
    }
  }
  // ===== Programms
  .programms {
    padding: calc($spacing-xxxl + $spacing-xxl)
      calc($spacing-xs + $spacing-xxxxs);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }
    }

    &-description {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: $spacing-md;

      p {
        font-size: $text-lg;
      }
    }

    &-cards {
      grid-template-columns: repeat(2, 1fr);
      column-gap: calc($spacing-xs + $spacing-xxxxs);
      row-gap: $spacing-md;
    }
  }
  // ===== Results
  .results {
    padding: calc($spacing-xxxl + $spacing-xxl) $spacing-md
      calc($spacing-xxl * 3);

    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
    }
    &-text {
      align-items: center;
      max-width: 100%;
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }
    }
    &-sticker {
      font-size: $text-md;
    }
    &-content {
      grid-column: 1;
      grid-row: 2;
      grid-template-columns: repeat(2, 1fr);
      column-gap: $spacing-xl;
      font-size: $text-lg;
      max-width: 100%;
    }
    &-card {
      padding: calc($spacing-xs + $spacing-xxs) calc($spacing-xl * 2)
        calc($spacing-xs + $spacing-xxs) $spacing-xl;
      gap: $spacing-xs;
    }
    button {
      position: absolute;
      top: 100%; 
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 350px;
      bottom: -32px;
    }
  }
  // ===== Who
  .who {
    padding: calc($spacing-xxxl * 2.5) calc($spacing-xs + $spacing-xxxxs)
      calc($spacing-xxxl + $spacing-xxl);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      p {
        max-width: 340px;
        font-size: $text-lg;
      }
    }
    &-cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: $spacing-xl;
      row-gap: $spacing-md;
    }
  }
  // ===== Reviews
  .reviews {
    padding: calc($spacing-xxxl + $spacing-xxl)
      calc($spacing-xs + $spacing-xxxxs) calc($spacing-xxxl + $spacing-xxl)
      $spacing-md;

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      .slider {
        margin-left: -$spacing-md;
        padding-left: $spacing-md;
      }
    }
  }
  // ===== Reasons
  .reasons {
    padding-top: calc($spacing-xxxl + $spacing-xxl);
    padding-bottom: calc($spacing-xxxl + $spacing-xxl);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      .banner {
        gap: $spacing-sm;

        .block {
          padding: $spacing-xl;
          padding-left: $spacing-sm;
          gap: $spacing-xs;

          img {
            width: $spacing-lg;
          }

          h5,
          li {
            font-size: $text-lg;
          }

          ul {
            padding-left: $spacing-lg;
          }
        }
      }
    }
  }
  // ===== FAQ
  .faq {
    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
        max-width: 450px;
      }
    }
    &-text {
      h6 {
        font-size: $text-lg;
      }
    }
  }
  // ===== Form
  .form {
    padding-bottom: $spacing-xxxl;

    .container {
      padding: calc($spacing-xxxl + $spacing-xxl);
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }
      p {
        font-size: $text-lg;
      }
    }
    .form__pd-text, .form__pd-agree {
      p {
        font-size: $text-xs;
      }
    }
  }
  // ===== Footer
  .footer {
    padding-bottom: $spacing-sm;

    .container {
      gap: $spacing-xs;
    }
    .footer-contact {
      grid-template-columns: auto auto auto;
      row-gap: $spacing-md;
    }
    .footer-logo {
      grid-row: 1;
    }
    .footer-confid {
      grid-column: 1 / 3;
      grid-row: 2;
      flex-direction: row;
      justify-content: space-between;
      font-size: $text-xs;
    }
    .footer-phone {
      grid-column: 2;
    }
    .footer-email {
      grid-column: 3;
    }
    .footer-info {
      padding-top: $spacing-xs;
      grid-template-columns: auto 1fr;
      row-gap: $spacing-sm;
    }
    .footer-info__block {
      &.middle {
        grid-column: 1;
        grid-row: 2;
      }
      &.last {
        grid-column: 2;
      }
    }
  }
}
// ===== TABLET
@media (max-width: 768px) {
  // ===== Header
  .header {
    &__nav {
      display: none;
    }

    &__contact {
      display: none;
    }

    &__burger {
      display: block;
    }
  }
  // ===== Speakers
  .speakers {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;

      .speakers__subtitle {
        p {
          max-width: 100%;
        }
      }

      .speakers__button {
        grid-column: 1;
        grid-row: 4;
      }

      .slider {
        grid-column: 1;
      }
    }
  }
  // ===== Reviews
  .reviews {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;

      .reviews-button {
        grid-column: 1;
        grid-row: 3;
      }

      .slider {
        grid-column: 1;
      }
    }
  }
  // ===== Reasons
  .reasons {
    .container {
      align-items: flex-start;

      .banner {
        flex-direction: column;
        gap: $spacing-xxxs;
        width: 100%;

        .block {
          h5 {
            font-size: $heading-6;
          }
        }
      }
    }
  }
  // ===== Footer
  .footer {
    .footer-contact {
      grid-template-columns: auto auto;
    }
    .footer-confid {
      grid-column: 1;
      grid-row: 2;
      flex-direction: column;
    }
    .footer-phone {
      grid-column: 2;
      grid-row: 1;
    }
    .footer-email {
      grid-column: 2;
      grid-row: 2;
    }
    .footer-phone, .footer-email {
      justify-self: start;
      p {
        font-size: $text-sm;
      }
      a {
        font-size: $heading-5;
      }
    }
  }
}
// ===== SMALL TABLET
@media (max-width: 665px) {
  // ===== Hero
  .hero {
    &__text {
      gap: $spacing-xl;
      padding: $spacing-xxl $spacing-md;

      h1 {
        font-size: $heading-3;
      }

      p {
        font-size: $text-sm;
        max-width: 300px;
      }
    }
  }
  // ===== Advantages
  .advantages {
    padding-top: calc($spacing-xxxl + $spacing-xxl);

    .container {
      gap: $spacing-md;

      h2 {
        font-size: $heading-4;
      }

      .banner {
        gap: $spacing-md;
        border-radius: $radius-m;
        padding: $spacing-xxxl $spacing-xl;

        h3 {
          font-size: $heading-6;
          max-width: 100%;
        }

        &__content {
          flex-direction: column;
          gap: $spacing-xxxs;

          .block {
            width: 100%;
            border-radius: $radius-xs;
            padding: $spacing-xl $spacing-sm;
            gap: $spacing-xl;
          }

          .block__text {
            max-width: 90%;

            h5 {
              font-size: $heading-6;
            }

            p {
              font-size: $text-md;
            }
          }
        }
      }

      .btn {
        padding: $spacing-md calc($spacing-xxl * 3);
      }
    }
  }
  // ===== Programms
  .programms {
    padding: calc($spacing-xxl * 2) calc($spacing-xs + $spacing-xxxxs);

    &-cards {
      grid-template-columns: 1fr;
      row-gap: $spacing-xs;
    }
  }
  // ===== Results
  .results {
    padding: calc($spacing-xxl * 2) calc($spacing-xs + $spacing-xxxxs);

    .container {
      grid-template-rows: auto auto auto;
    }
    &-text {
      text-align: center;
    }
    &-sticker {
    }
    &-content {
      grid-template-columns: 1fr;
      justify-self: stretch;
    }
    &-card {
    }
    button {
      grid-row: 3;
      position: relative;
      transform: none;
      top: 0;
      left: 0;
      bottom: 0;
      justify-self: center;
    }
  }
  // ===== Who
  .who {
    padding: calc($spacing-xxl * 2) calc($spacing-xs + $spacing-xxxxs);

    &-cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      row-gap: $spacing-xs;
    }
  }
  // ===== Form
  .form {
    .container {
      padding: $spacing-xxxl $spacing-xl;
    }
    .form__content {
      min-width: 300px;
      width: 100%;
    }
    .request__submit {
      padding: $spacing-md calc($spacing-xxl * 2);
    }
  }
  // Footer
  .footer {
    .footer-contact {
      grid-template-columns: auto;
    }
    .footer-confid {
      grid-column: 1;
      grid-row: 4;
      flex-direction: column;
    }
    .footer-phone {
      grid-column: 1;
      grid-row: 2;
    }
    .footer-email {
      grid-column: 1;
      grid-row: 3;
    }
    .footer-phone, .footer-email {
      justify-self: start;
    }
    .footer-info {
      grid-template-columns: auto;
    }
    .footer-info__block {
      &.middle {
        grid-column: 1;
        grid-row: 2;
        flex-direction: column;
        gap: $spacing-none;
      }
      &.last {
        justify-self: start;
        grid-column: 1;
        grid-row: 3;
      }
    }
  }
  // ===== btn
  .btn {
    font-size: $text-md;
    padding: $spacing-md calc($spacing-xxl + $spacing-xl);
  }
}
// ===== MOBILE
@media (max-width: 430px) {
  // ===== Header
  .header {
    & .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      width: 74px;
    }
  }
  // ===== Hero
  .hero {
    padding-top: $spacing-xl;

    & .container {
      background-size: 135% auto;
      background-position: bottom right;

      &:before {
        width: 100%;
        height: 60%;
        background: linear-gradient(to bottom, $primary 65%, transparent);
      }
    }

    &__text {
      max-width: 100%;
      padding-bottom: calc($spacing-xxxl * 9 + $spacing-xxxs);

      p {
        max-width: 100%;
      }
    }
  }
  // ===== Speakers
  .speakers {
    padding: calc($spacing-xxl * 2) calc($spacing-xs + $spacing-xxxxs);

    .container {
      h2 {
        max-width: 296px;
      }

      .speakers__subtitle {
        p {
          font-size: $text-md;
        }
      }

      .speakers__button {
        gap: $spacing-xxxs;
        height: 16px;

        &-prev,
        &-next {
          border-radius: $radius-xs;
          padding: $spacing-xxs $spacing-md;

          img {
            width: 31px;
          }
        }
      }

      .slider {
        &-card {
          &__review {
            p {
              font-size: $text-xxs;
            }
          }

          &__rate {
            width: 118px;
          }

          &__text {
            p {
              font-size: $text-sm;
            }
          }
        }
      }
    }
  }
  // ===== Results
  .results {
    &-text {
      align-items: start;
      text-align: left;
    }
    &-sticker {
      p {
        font-size: $text-xs;
      }
    }
    &-content {
      font-size: $text-md;
    }
    &-card {
      padding: calc($spacing-xs + $spacing-xxs)
        calc($spacing-sm - $spacing-xxxxs) calc($spacing-xs + $spacing-xxs)
        $spacing-sm;
    }
    button {
      max-width: 100%;
      width: 100%;

      a {
        font-size: $text-md;
      }
    }
  }
  // ===== Who
  .who {
    .container {
      p {
        font-size: $text-md;
      }
    }
    &-card {
      &__content {
        p {
          font-size: $text-sm;
        }
      }
    }
  }
  // ===== Reviews
  .reviews {
    padding: calc($spacing-xxl * 2) calc($spacing-xs + $spacing-xxxxs);

    .container {
      h2 {
        max-width: 300px;
      }

      .reviews-button {
        gap: $spacing-xxxs;
        height: 16px;

        &__prev,
        &__next {
          border-radius: $radius-xs;
          padding: $spacing-xxs $spacing-md;

          img {
            width: 31px;
          }
        }
      }

      .slider {
        margin-left: -(calc($spacing-xs + $spacing-xxxxs));
        padding-left: calc($spacing-xs + $spacing-xxxxs);
        gap: $spacing-xs;
      }
    }
  }
  // ===== Reasons
  .reasons {
    padding-top: calc($spacing-xxl * 2);
    padding-bottom: calc($spacing-xxl * 2);

    .container {

      .banner {
        .block {
          padding: $spacing-xl $spacing-md;

          li {
            font-size: $text-md;
          }

          img {
            width: $spacing-xl
          }
        }
      }
    }
  }
  // ===== FAQ
  .faq {
    .container {
      h2 {
        max-width: 285px;
      }
    }
    &-block {
      padding: $spacing-xs;
      padding-left: $spacing-sm;
    }
    &-text {
      h6 {
        font-size: $text-md;
      }
      p {
        font-size: $text-sm;
      }
    }
  }
  // ===== Form
  .form {
    .container {
      p {
        font-size: $text-md;
      }
    }
    .form__pd-text, .form__pd-agree {
      p {
        font-size: $text-xs;
      }
    }
  }
}
