@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.reasons {
  background-color: $surface;
  padding: calc($spacing-xxxl * 3) calc($spacing-xs + $spacing-xxxxs);

  .container {
    display: flex;
    flex-direction: column;
    gap: $spacing-xxl;
    align-items: center;

    .banner {
      display: flex;
      gap: $spacing-xs;

      .block {
        background-color: $primary;
        padding: $spacing-xl;
        padding-left: $spacing-lg;
        padding-right: calc($spacing-xxxl + $spacing-xs);
        border-radius: $radius-m;
        display: flex;
        flex-direction: column;
        gap: $spacing-md;

        img {
          width: calc($spacing-xxl + $spacing-xxxxs);
        }

        h5 {
          letter-spacing: -0.01em;
        }

        ul {
          padding-left: $spacing-xxl;
        }

        li {
          list-style-type: disc;
          list-style-position: outside;
          font-weight: 200;
        }

        h5, li {
          color: $text-inverse;
        }
      }
    }
  }
}
