@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.who {
  background-color: $surface;
  padding: calc($spacing-xxxl * 4) calc($spacing-xs + $spacing-xxxxs);

  .container {
    display: flex;
    flex-direction: column;
    gap: $spacing-xxl;
    align-items: center;
    text-align: center;

    p {
      max-width: 419px;
    }
  }
  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-xs;
    width: 100%;
  }
  &-card {
    background-color: $background;
    border-radius: $radius-m;
    display: flex;
    gap: $spacing-sm;
    align-items: center;
    padding: calc($spacing-sm + $spacing-xxs) calc($spacing-lg + $spacing-xxxxs);

    &__icon {
      width: 48px;
      height: 48px;
      aspect-ratio: 1 / 1;
      border-radius: 10px;
      background-color: rgba(99, 124, 249, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 19px;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: $spacing-xxxs;
      text-align: left;

      p {
        font-size: $text-md;
      }
    }
  }
}
