@use './variables' as *;

@mixin headline {
	font-family: 'Manrope', sans-serif;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: -0.06em;
	color: $text-default;
}

@mixin text {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	letter-spacing: -0.01em;
	color: $text-default;
}