* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #120e1d;
  font-size: 20px;
  background-color: #fff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #120e1d;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 20px;
}

a {
  color: #120e1d;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 20px;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

input::placeholder,
textarea::placeholder {
  color: #9da1a8;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

span.bold {
  font-weight: 700;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
}

/* Links */
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

@font-face {
  font-family: "Manrope";
  src: url("../../fonts/Manrope-VariableFont_wght.ttf");
}
.btn {
  padding: 0;
  background-color: #120e1d;
  border-radius: 15px;
}

.btn a, .btn span {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 22px 77px;
  font-size: 14px;
  white-space: nowrap;
  display: block;
}
.btn a::before, .btn span::before {
  content: url("../../image/dot.svg");
  width: 9px;
  position: relative;
  left: -10px;
}

.header {
  background-color: #f1f1f1;
  padding: 0 15px;
}
.header .container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 74px;
}
.header__nav ul {
  display: flex;
  gap: 60px;
  font-size: 10px;
}
.header__contact {
  display: flex;
  gap: 10px;
}
.header__contact span a {
  font-weight: 700;
  color: #637cf9;
  font-size: 10px;
}
.header__contact button {
  padding: 10px 52px;
  color: #fff;
}
.header__burger {
  display: none;
}

.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: block;
  opacity: 0;
  visibility: hidden;
}

.header__form-modal {
  min-width: 997px;
  width: 997px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 1000;
  background-image: url("../../image/backgrounds/form-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.header__form-modal p {
  max-width: 410px;
}
.header__form-modal h2,
.header__form-modal h6,
.header__form-modal p,
.header__form-modal button,
.header__form-modal label {
  color: #fff;
}
.header__form-modal .header__modal-close {
  position: absolute;
  width: 25px;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.header__form--content {
  min-width: 500px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__form--request {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__request--field {
  background-color: #fff;
  padding: 20px 22px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__request--input {
  width: 100%;
  height: 100%;
}
.header__request--input::placeholder {
  font-size: 14px;
}

.header__request--submit {
  background-color: #637cf9;
}
.header__request--submit span::before {
  content: url("../../image/dot-black.svg");
  width: 9px;
  position: relative;
  left: -10px;
}

.header__form--pd-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header__form--pd-text h6,
.header__form--pd-text p {
  max-width: 100%;
  text-align: left;
  font-size: 10px;
}

.header__form--pd-agree {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}
.header__form--pd-agree label {
  font-size: 10px;
}

.header__modal-active {
  visibility: visible;
  opacity: 1;
}

.hero {
  background-color: #f1f1f1;
  padding: 15px 15px 0;
}
.hero .container {
  border-radius: 50px;
  display: flex;
  background-image: url("../../image/backgrounds/hero-background.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
  position: relative;
  z-index: 1;
}
.hero .container:before {
  z-index: 0;
  content: "";
  position: absolute;
  border-radius: 50px;
  width: 80%;
  height: 100%;
  background: linear-gradient(to right, #637cf9 57%, transparent);
}
.hero__text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 157px 50px;
  max-width: 74%;
}
.hero__text h1, .hero__text p {
  color: #fff;
}
.hero__text p {
  max-width: 76%;
}

.advantages {
  background-color: #f1f1f1;
  padding: 120px 15px 120px;
}
.advantages .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.advantages .container .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 30px;
  background-color: #637cf9;
  width: 100%;
  padding: 70px 60px;
}
.advantages .container .banner h3 {
  color: #fff;
  max-width: 396px;
}
.advantages .container .banner__content {
  display: flex;
  gap: 10px;
  width: 100%;
}
.advantages .container .banner__content .block {
  width: calc((100% - 20px) / 3);
  background-color: #fff;
  border-radius: 20px;
  padding: 50px 30px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
.advantages .container .banner__content .block__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  text-align: left;
}
.advantages .container button {
  font-size: 18px;
}

.speakers {
  background-color: #f1f1f1;
  padding: 0 12px 120px;
  position: relative;
}
.speakers .container {
  display: grid;
  grid-template-columns: 1fr 228px;
  grid-template-rows: auto auto auto;
  gap: 30px;
  position: relative;
}
.speakers .container h2 {
  grid-column: 1;
  grid-row: 1;
}
.speakers .container .speakers__subtitle {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  grid-column: 1;
  grid-row: 2;
}
.speakers .container .speakers__subtitle p {
  max-width: 812px;
}
.speakers .container .speakers__button {
  display: flex;
  gap: 8px;
  width: fit-content;
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  height: 26px;
}
.speakers .container .speakers__button .button__prev,
.speakers .container .speakers__button .button__next {
  display: flex;
  align-items: center;
  background-color: #637cf9;
  border-radius: 25px;
  border: none;
  padding: 8px 30px;
}
.speakers .container .speakers__button .button__next img {
  transform: rotate(180deg);
}
.speakers .container .slider {
  grid-column: 1/3;
  grid-row: 3;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-right: -12px;
  margin-left: -12px;
  padding-right: 12px;
  padding-left: 12px;
}
.speakers .container .slider ::-webkit-scrollbar {
  display: none;
}
.speakers .container .slider-card {
  min-width: 273px;
  width: 273px;
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 8px 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.speakers .container .slider-card__review {
  position: relative;
  width: 100%;
}
.speakers .container .slider-card__review p {
  font-size: 10px;
  font-weight: 700;
}
.speakers .container .slider-card__rate {
  position: absolute;
  width: 169px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  bottom: 12px;
  right: 14px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 6px 10px 13px;
}
.speakers .container .slider-card__stars {
  display: flex;
  gap: 3.5px;
  width: fit-content;
}
.speakers .container .slider-card__stars svg {
  color: #f2b855;
}
.speakers .container .slider-card__stars .empty {
  color: #9da1a8;
}
.speakers .container .slider-card__content {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.speakers .container .slider-card__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.speakers .container .slider-card__text p {
  font-size: 14px;
}
.speakers .container .slider-card a {
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  color: #637cf9;
  width: fit-content;
}

.speakers__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
}

.popup-active {
  display: block;
}

.speakers__popup-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px 15px;
  min-width: 632px;
  width: 632px;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.speakers__popup-card .popup__header {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  gap: 15px;
  align-items: center;
}
.speakers__popup-card .popup__header-avatar {
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 25px;
}
.speakers__popup-card .popup__header .slider-card__close-popup {
  grid-column: 4;
  align-self: flex-start;
  cursor: pointer;
}
.speakers__popup-card .popup__content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.speakers__popup-card .popup__content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}
.speakers__popup-card .popup__content ul li {
  list-style-type: disc;
  list-style-position: outside;
  font-weight: 200;
}
.speakers__popup-card .popup__content ul li::marker {
  color: #637cf9;
}

.popup-active {
  visibility: visible;
  opacity: 1;
}

.programms {
  background-color: #fff;
  padding: 100px 70px 60px;
}
.programms .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.programms .container h2 {
  max-width: 680px;
}
.programms-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.programms-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 30px;
}
.programms-cards .programms-card {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.programms-cards .programms-card h5 {
  color: #637cf9;
  letter-spacing: -0.04em;
}
.programms-cards .programms-card p {
  font-size: 14px;
}
.programms-cards .programms-card__top {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.programms-cards .programms-card__bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.programms-cards .programms-card__date {
  background-color: #fff;
  padding: 2px 15px;
  font-size: 12px;
  font-weight: 700;
  width: fit-content;
  border-radius: 10px;
}

.results {
  background-color: #637cf9;
  padding: 135px 70px 100px;
  position: relative;
}
.results .container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 100px;
  row-gap: 30px;
}
.results-text {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 350px;
  color: #637cf9;
}
.results-text h2 {
  color: #fff;
  letter-spacing: -0.04em;
}
.results-sticker {
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 20px;
  width: fit-content;
  font-size: 16px;
}
.results-content {
  grid-column: 2;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
  max-width: 610px;
  justify-self: end;
}
.results-card {
  background-color: #fff;
  padding: 35px 55px 35px 25px;
  border-radius: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.results-card img {
  width: 25px;
}
.results button {
  grid-row: 2;
  grid-column: 1;
  font-size: 18px;
  height: fit-content;
}

.who {
  background-color: #f1f1f1;
  padding: 160px 12px;
}
.who .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
}
.who .container p {
  max-width: 419px;
}
.who-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}
.who-card {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 23px 24px;
}
.who-card__icon {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background-color: rgba(99, 124, 249, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.who-card__icon img {
  width: 19px;
}
.who-card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
}
.who-card__content p {
  font-size: 14px;
}

.reviews {
  background-color: #fff;
  padding: 100px 12px 100px 70px;
}
.reviews .container {
  display: grid;
  grid-template-columns: 1fr 228px;
  grid-template-rows: auto auto;
  row-gap: 30px;
  position: relative;
}
.reviews .container .reviews-button {
  display: flex;
  gap: 8px;
  width: fit-content;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  height: 26px;
}
.reviews .container .reviews-button .button__prev,
.reviews .container .reviews-button .button__next {
  display: flex;
  align-items: center;
  background-color: #637cf9;
  border-radius: 25px;
  padding: 8px 30px;
}
.reviews .container .reviews-button .button__next img {
  transform: rotate(180deg);
}
.reviews .container .slider {
  grid-column: 1/3;
  grid-row: 2;
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-right: -12px;
  margin-left: -70px;
  padding-right: 12px;
  padding-left: 70px;
}
.reviews .container .slider ::-webkit-scrollbar {
  display: none;
}
.reviews .container .slider-card {
  min-width: 273px;
  width: 273px;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reviews .container .slider-card__stars {
  display: flex;
  gap: 5px;
  width: fit-content;
}
.reviews .container .slider-card__stars svg {
  color: #f2b855;
}
.reviews .container .slider-card__stars .empty {
  color: #9da1a8;
}
.reviews .container .slider-card p span {
  font-size: 10px;
}
.reviews .container .slider-card p {
  font-size: 14px;
}

.reasons {
  background-color: #f1f1f1;
  padding: 120px 12px;
}
.reasons .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.reasons .container .banner {
  display: flex;
  gap: 10px;
}
.reasons .container .banner .block {
  background-color: #637cf9;
  padding: 25px;
  padding-left: 22px;
  padding-right: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reasons .container .banner .block img {
  width: 32px;
}
.reasons .container .banner .block h5 {
  letter-spacing: -0.01em;
}
.reasons .container .banner .block ul {
  padding-left: 30px;
}
.reasons .container .banner .block li {
  list-style-type: disc;
  list-style-position: outside;
  font-weight: 200;
}
.reasons .container .banner .block h5, .reasons .container .banner .block li {
  color: #fff;
}

.faq {
  background-color: #f1f1f1;
  padding: 0 12px;
}
.faq .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq .container h2 {
  max-width: 725px;
}
.faq-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.faq-block {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 10px;
  padding-left: 25px;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
.faq-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}
.faq-text h6 {
  font-weight: 400;
}
.faq-text p {
  display: none;
  font-size: 14px;
}
.faq-open {
  aspect-ratio: 1/1;
  width: 40px;
  border-radius: 100%;
  background-color: rgba(99, 124, 249, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq-open img {
  aspect-ratio: 1/1;
  width: 15px;
}

.form {
  background-color: #f1f1f1;
  padding: 70px 12px 60px 12px;
}
.form .container {
  background-image: url("../../image/backgrounds/form-background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.form .container h2,
.form .container h6,
.form .container p,
.form .container button,
.form .container label {
  color: #fff;
}
.form .form__content {
  min-width: 500px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form .form__request {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form .request__field {
  background-color: #fff;
  padding: 20px 22px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form .request__input {
  width: 100%;
  height: 100%;
}
.form .request__input::placeholder {
  font-size: 14px;
}
.form .request__submit {
  background-color: #637cf9;
}
.form .request__submit span::before {
  content: url("../../image/dot-black.svg");
  width: 9px;
  position: relative;
  left: -10px;
}
.form .form__pd-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form .form__pd-text h6,
.form .form__pd-text p {
  font-size: 10px;
}
.form .form__pd-agree {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.form .form__pd-agree label {
  font-size: 10px;
}

.footer {
  background-color: #f1f1f1;
  padding: 0 12px 20px 12px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-contact {
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: auto auto 1fr auto auto;
}
.footer .footer-logo {
  grid-column: 1;
}
.footer .footer-logo img {
  height: 60px;
}
.footer .footer-confid {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.footer .footer-confid a {
  font-size: 12px;
}
.footer .footer-phone {
  grid-column: 4;
}
.footer .footer-email {
  grid-column: 5;
}
.footer .footer-phone,
.footer .footer-email {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer .footer-phone p,
.footer .footer-email p {
  font-weight: 700;
  font-size: 16px;
}
.footer .footer-phone a,
.footer .footer-email a {
  font-size: 30px;
  color: #637cf9;
}
.footer .footer-info {
  border-top: solid 1px #9da1a8;
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 8px;
}
.footer .footer-info__block {
  color: #9da1a8;
}
.footer .footer-info__block.middle {
  display: flex;
  gap: 30px;
}
.footer .footer-info__block.last {
  justify-self: flex-end;
}

@media (max-width: 1280px) {
  .programms-cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 20px;
  }
}
@media (max-width: 1024px) {
  input {
    font-size: 16px;
  }
  .header__nav ul {
    gap: 20px;
  }
  .header__contact button {
    padding: 8px 35px;
  }
  .header__form-modal {
    min-width: 90%;
    width: 90%;
  }
  .hero {
    padding-top: 25px;
  }
  .hero .container {
    border-radius: 20px;
  }
  .hero .container:before {
    border-radius: 20px;
    background: linear-gradient(to right, #637cf9 65%, transparent);
  }
  .hero__text {
    gap: 20px;
    padding: 100px 30px;
    max-width: 568px;
  }
  .hero__text h1 {
    font-size: 45px;
  }
  .hero__text p {
    font-size: 16px;
  }
  .advantages {
    padding-top: 70px;
  }
  .advantages .container {
    gap: 20px;
  }
  .advantages .container h2 {
    font-size: 30px;
  }
  .advantages .container .banner {
    gap: 20px;
    border-radius: 20px;
    padding: 50px 16px;
  }
  .advantages .container .banner h3 {
    font-size: 20px;
    max-width: 100%;
  }
  .advantages .container .banner__content .block {
    width: calc((100% - 20px) / 3);
    border-radius: 10px;
    padding: 25px 15px;
    gap: 30px;
  }
  .advantages .container .banner__content .block__text h5 {
    font-size: 20px;
  }
  .advantages .container .banner__content .block__text p {
    font-size: 16px;
  }
  .speakers {
    padding: 70px 12px;
  }
  .speakers .container {
    gap: 20px;
  }
  .speakers .container h2 {
    font-size: 30px;
  }
  .speakers .container .speakers__subtitle p {
    font-size: 16px;
  }
  .speakers .container .slider-card__content h5 {
    font-size: 20px;
  }
  .programms {
    padding: 70px 12px;
  }
  .programms .container {
    gap: 20px;
  }
  .programms .container h2 {
    font-size: 30px;
  }
  .programms-description {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .programms-description p {
    font-size: 16px;
  }
  .results {
    padding: 70px 20px 90px;
  }
  .results .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .results-text {
    align-items: center;
    max-width: 100%;
    gap: 20px;
  }
  .results-text h2 {
    font-size: 30px;
  }
  .results-sticker {
    font-size: 14px;
  }
  .results-content {
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    font-size: 16px;
    max-width: 100%;
  }
  .results-card {
    padding: 18px 50px 18px 25px;
    gap: 10px;
  }
  .results button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    bottom: -32px;
  }
  .who {
    padding: 100px 12px 70px;
  }
  .who .container {
    gap: 20px;
  }
  .who .container h2 {
    font-size: 30px;
  }
  .who .container p {
    max-width: 340px;
    font-size: 16px;
  }
  .who-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 20px;
  }
  .reviews {
    padding: 70px 12px 70px 20px;
  }
  .reviews .container {
    gap: 20px;
  }
  .reviews .container h2 {
    font-size: 30px;
  }
  .reviews .container .slider {
    margin-left: -20px;
    padding-left: 20px;
  }
  .reasons {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .reasons .container {
    gap: 20px;
  }
  .reasons .container h2 {
    font-size: 30px;
  }
  .reasons .container .banner {
    gap: 15px;
  }
  .reasons .container .banner .block {
    padding: 25px;
    padding-left: 15px;
    gap: 10px;
  }
  .reasons .container .banner .block img {
    width: 22px;
  }
  .reasons .container .banner .block h5,
  .reasons .container .banner .block li {
    font-size: 16px;
  }
  .reasons .container .banner .block ul {
    padding-left: 22px;
  }
  .faq .container {
    gap: 20px;
  }
  .faq .container h2 {
    font-size: 30px;
    max-width: 450px;
  }
  .faq-text h6 {
    font-size: 16px;
  }
  .form {
    padding-bottom: 40px;
  }
  .form .container {
    padding: 70px;
    gap: 20px;
  }
  .form .container h2 {
    font-size: 30px;
  }
  .form .container p {
    font-size: 16px;
  }
  .form .form__pd-text p,
  .form .form__pd-agree p {
    font-size: 10px;
  }
  .footer {
    padding-bottom: 15px;
  }
  .footer .container {
    gap: 10px;
  }
  .footer .footer-contact {
    grid-template-columns: auto auto auto;
    row-gap: 20px;
  }
  .footer .footer-logo {
    grid-row: 1;
  }
  .footer .footer-confid {
    grid-column: 1/3;
    grid-row: 2;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
  }
  .footer .footer-phone {
    grid-column: 2;
  }
  .footer .footer-email {
    grid-column: 3;
  }
  .footer .footer-info {
    padding-top: 10px;
    grid-template-columns: auto 1fr;
    row-gap: 15px;
  }
  .footer .footer-info__block.middle {
    grid-column: 1;
    grid-row: 2;
  }
  .footer .footer-info__block.last {
    grid-column: 2;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .header__contact {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .speakers .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  .speakers .container .speakers__subtitle p {
    max-width: 100%;
  }
  .speakers .container .speakers__button {
    grid-column: 1;
    grid-row: 4;
  }
  .speakers .container .slider {
    grid-column: 1;
  }
  .reviews .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .reviews .container .reviews-button {
    grid-column: 1;
    grid-row: 3;
  }
  .reviews .container .slider {
    grid-column: 1;
  }
  .reasons .container {
    align-items: flex-start;
  }
  .reasons .container .banner {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  .reasons .container .banner .block h5 {
    font-size: 20px;
  }
  .footer .footer-contact {
    grid-template-columns: auto auto;
  }
  .footer .footer-confid {
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
  }
  .footer .footer-phone {
    grid-column: 2;
    grid-row: 1;
  }
  .footer .footer-email {
    grid-column: 2;
    grid-row: 2;
  }
  .footer .footer-phone,
  .footer .footer-email {
    justify-self: start;
  }
  .footer .footer-phone p,
  .footer .footer-email p {
    font-size: 12px;
  }
  .footer .footer-phone a,
  .footer .footer-email a {
    font-size: 25px;
  }
  .btn a,
  .btn span {
    font-size: 14px;
    padding: 20px 55px;
  }
}
@media (max-width: 668px) {
  .header__form-modal h2 {
    font-size: 30px;
  }
  .header__form-modal p {
    font-size: 14px;
  }
  .header__form--pd-text p {
    font-size: 10px;
  }
  .header__form-modal {
    gap: 20px;
    padding: 50px 0;
  }
  .header__form-modal p {
    max-width: 293px;
  }
  .header__form--content {
    min-width: 300px;
    width: 85%;
  }
  .header__form--pd-text p {
    max-width: 100%;
  }
  .hero__text {
    gap: 25px;
    padding: 30px 20px;
  }
  .hero__text h1 {
    font-size: 35px;
  }
  .hero__text p {
    font-size: 12px;
    max-width: 300px;
  }
  .advantages {
    padding-top: 70px;
  }
  .advantages .container {
    gap: 20px;
  }
  .advantages .container h2 {
    font-size: 30px;
  }
  .advantages .container .banner {
    gap: 20px;
    border-radius: 20px;
    padding: 40px 25px;
  }
  .advantages .container .banner h3 {
    font-size: 20px;
    max-width: 100%;
  }
  .advantages .container .banner__content {
    flex-direction: column;
    gap: 5px;
  }
  .advantages .container .banner__content .block {
    width: 100%;
    border-radius: 10px;
    padding: 25px 15px;
    gap: 25px;
  }
  .advantages .container .banner__content .block__text {
    max-width: 90%;
  }
  .advantages .container .banner__content .block__text h5 {
    font-size: 20px;
  }
  .advantages .container .banner__content .block__text p {
    font-size: 14px;
  }
  .speakers__popup-card {
    min-width: 273px;
    width: 90%;
  }
  .speakers__popup-card .popup__header h5 {
    font-size: 16px;
  }
  .speakers__popup-card .popup__content h6 {
    font-size: 12px;
  }
  .speakers__popup-card .popup__content li {
    font-size: 12px;
  }
  .programms {
    padding: 60px 12px;
  }
  .programms-cards {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .results {
    padding: 60px 12px;
  }
  .results .container {
    grid-template-rows: auto auto auto;
  }
  .results-text {
    text-align: center;
  }
  .results-content {
    grid-template-columns: 1fr;
    justify-self: stretch;
  }
  .results button {
    grid-row: 3;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    bottom: 0;
    justify-self: center;
  }
  .who {
    padding: 60px 12px;
  }
  .who-cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
  }
  .form .container {
    padding: 40px 25px;
  }
  .form .form__content {
    min-width: 300px;
    width: 100%;
  }
  .footer .footer-contact {
    grid-template-columns: auto;
  }
  .footer .footer-confid {
    grid-column: 1;
    grid-row: 4;
    flex-direction: column;
  }
  .footer .footer-phone {
    grid-column: 1;
    grid-row: 2;
  }
  .footer .footer-email {
    grid-column: 1;
    grid-row: 3;
  }
  .footer .footer-phone,
  .footer .footer-email {
    justify-self: start;
  }
  .footer .footer-info {
    grid-template-columns: auto;
  }
  .footer .footer-info__block.middle {
    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
    gap: 0;
  }
  .footer .footer-info__block.last {
    justify-self: start;
    grid-column: 1;
    grid-row: 3;
  }
}
@media (max-width: 430px) {
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    width: 74px;
  }
  .hero {
    padding-top: 25px;
  }
  .hero .container {
    background-size: 135% auto;
    background-position: bottom right;
  }
  .hero .container:before {
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, #637cf9 65%, transparent);
  }
  .hero__text {
    max-width: 100%;
    padding-bottom: 365px;
  }
  .hero__text p {
    max-width: 100%;
  }
  .speakers {
    padding: 60px 12px;
  }
  .speakers .container h2 {
    max-width: 296px;
  }
  .speakers .container .speakers__subtitle p {
    font-size: 14px;
  }
  .speakers .container .speakers__button {
    gap: 5px;
    height: 16px;
  }
  .speakers .container .speakers__button .button__prev,
  .speakers .container .speakers__button .button__next {
    border-radius: 10px;
    padding: 8px 20px;
  }
  .speakers .container .speakers__button .button__prev img,
  .speakers .container .speakers__button .button__next img {
    width: 31px;
  }
  .speakers .container .slider-card__review p {
    font-size: 8px;
  }
  .speakers .container .slider-card__rate {
    width: 118px;
  }
  .speakers .container .slider-card__text p {
    font-size: 12px;
  }
  .results-text {
    align-items: start;
    text-align: left;
  }
  .results-sticker p {
    font-size: 10px;
  }
  .results-content {
    font-size: 14px;
  }
  .results-card {
    padding: 18px 13px 18px 15px;
  }
  .results button {
    max-width: 100%;
    width: 100%;
  }
  .results button a {
    font-size: 14px;
  }
  .who .container p {
    font-size: 14px;
  }
  .who-card__content p {
    font-size: 12px;
  }
  .reviews {
    padding: 60px 12px;
  }
  .reviews .container h2 {
    max-width: 300px;
  }
  .reviews .container .reviews-button {
    gap: 5px;
    height: 16px;
  }
  .reviews .container .reviews-button .button__prev,
  .reviews .container .reviews-button .button__next {
    border-radius: 10px;
    padding: 8px 20px;
  }
  .reviews .container .reviews-button .button__prev img,
  .reviews .container .reviews-button .button__next img {
    width: 31px;
  }
  .reviews .container .slider {
    margin-left: -12px;
    padding-left: 12px;
    gap: 10px;
  }
  .reasons {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .reasons .container .banner .block {
    padding: 25px 20px;
  }
  .reasons .container .banner .block li {
    font-size: 14px;
  }
  .reasons .container .banner .block img {
    width: 25px;
  }
  .faq .container h2 {
    max-width: 285px;
  }
  .faq-block {
    padding: 10px;
    padding-left: 15px;
  }
  .faq-text h6 {
    font-size: 14px;
  }
  .faq-text p {
    font-size: 12px;
  }
  .form .container p {
    font-size: 14px;
  }
  .form .form__pd-text p,
  .form .form__pd-agree p {
    font-size: 10px;
  }
}
@media (max-height: 930px) {
  .header__form-modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@media (max-height: 750px) {
  .header__form-modal {
    transform: translate(-50%, -50%) scale(0.6);
  }
  .speakers__popup-card {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@media (max-height: 460px) {
  .header__form-modal {
    transform: translate(-50%, -50%) scale(0.5);
  }
  .speakers__popup-card {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

/*# sourceMappingURL=style.css.map */
